<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="jumbotron">
          <h1 class="text-center">Register</h1><br />
          <div class="form-group">
            Username: <input [value]="username" (input)="username = $event.target.value" class="form-control"><br/>
            Password: <input [value]="password" (input)="password = $event.target.value" class="form-control" type="text"><br/>
            <p *ngIf="username == 'camilo' && password == 'yeah'">Hola</p>
            <button (click)="FuncionLogin()" class="btn btn-primary">Log In</button>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>